* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #575757;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 130%;
  margin-bottom: 25px;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}
h3 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  margin: 10px 0;
}
.col-3 {
  width: 28%;
  border-radius: 10px;
  padding: 18px;
}
.col-3:first-child {
  margin-left: 5%;
}
.col-3:nth-child(2) {
  margin-left: 3%;
  margin-right: 3%;
}
.col-3:last-child {
  margin-right: 5%;
}
.box-shadow {
  box-shadow: 5px 5px 33px grey;
}
.orange-color {
  color: #fba24f;
}
.flexible-container {
  display: flex;
  padding-bottom: 50px;
}
.half-width {
  width: 45%;
  padding-left: 5%;
  padding-right: 5%;
}
.half-width img {
  width: 100%;
}
p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}
.link-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  background-image: linear-gradient(#fd5934, #ef304d);
  padding: 12px 30px;
  border-radius: 21px 21px 21px 21px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}
.banar-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}
#about-me {
  background-image: url("images/about-me-bg.png");
  background-repeat: no-repeat;
  /* background-position: center; */
}
.gentleman {
  width: 338px;
  height: 536px;
}
#recipie-area {
  padding: 80px 0;
}
.recipie-header {
  padding: 0 25% 40px 25%;
  text-align: center;
}
.recipie-cover {
  width: 337px;
  height: 232px;
}

.follower-area {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
  border-radius: 15px;
  padding-bottom: 20px;
  text-align: center;
}
